.Button {
    color: var(--inverted-primary-color);
    cursor: pointer;
}

.clear {
    background: none;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
