.InputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
    color: var(--primary-color);
}

.input {
    background: transparent;
    border: none;
    border-radius: 2px;
    width: 100%;
    color: var(--primary-color);

    &:focus {
        outline: none;
    }
}
