.app.dark {
    --bg-color: #030e79;
    --inverted-bg-color: #e7e7f8;
    --primary-color: #3acc3a;
    --secomdary-color: #a4f1a4;
    --inverted-primary-color: #020b57;
    --inverted-secondary-color: #26368d;
}
