.app.light {
    --bg-color: #e7e7f8;
    --inverted-bg-color: #030e79;
    --primary-color: #020b57;
    --secomdary-color: #26368d;
    --inverted-primary-color: #3acc3a;
    --inverted-secondary-color: #a4f1a4;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
