.app.light {
  --bg-color: #e7e7f8;
  --inverted-bg-color: #030e79;
  --primary-color: #020b57;
  // заголовок
  --secomdary-color: #26368d;

  --inverted-primary-color: #3acc3a;
  // заголовок
  --inverted-secondary-color: #a4f1a4;
}